.container {
    background-color: #8d8d99;
    max-width: 1280vw;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 32px;
    padding: 32px 64px;
    margin: 0 auto;
}

.sidebar {
    height: fit-content;
    background-color: #202024;
    border-radius: 8px;
    overflow: hidden;
}

.sidebar footer {
    border-top: 1px solid #323238;
    margin-top: 24px;
    padding: 24px 32px 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar footer .button-edit-profile {
    background-color: transparent;
    color: #00875f;
    border: 1px solid #00875f;
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.sidebar footer .button-edit-profile:hover {
    color: #ffff;
    background-color: #00875f;
}

.main {
    height: auto;
    /* background-color: #e1e1e6; */

}
.form-post{
    width: 100%;
    background-color: #202024;
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.cover {
    width: 100%;
    height: 30%;
    object-fit: cover;

}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

.profile strong {
    margin-top: 16px;
    color: #e1e1e6;
    line-height: 1.6;
}

.profile span {
    margin-top: 14px;
    color: #8d8d99;
    line-height: 1.6;
}

